<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<div th:replace="layouts/menuAdmin :: headerMenu">
</div>

<body id="body">

    <!-- MENU HEADER -->
    <div th:replace="layouts/menuAdmin :: navMenuAdmin">
    </div>

    <!-- MENU SIDEBAR -->
    <div th:replace="layouts/menuAdmin :: sidebar">
    </div>

    <!-- CONTENIDO MODULO Proveedores -->
    <div class="container">       
        <div class="row titulo-Gestion">  
            <div class="row">
                <div class="col btn-form btn-volver justify-content-start">   
                    <a th:href="@{/VerInventario}">
                        <button href=""><i class='bx bxs-left-arrow-circle'></i> Volver</button>
                    </a>
                </div>
            </div>          
            <h1>Proveedores</h1>
        </div>
        <div class="row form-Gestion">

            <div class="col-8">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col btn-form justify-content-end">
                                <button href="" data-bs-toggle="modal" data-bs-target="#modalAgregar"><i
                                        class='bx bxs-truck'></i> Agregar proveedor</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row ">
            <div class="col-8">
                <div class="contenedor-tabla">
                    <table class="table table-hover" id="tabla_Proveedores">
                        <thead>
                            <tr>
                                <th scope="col">Ref.</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Correo</th>
                                <th scope="col">ubicacion</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Opc</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="proveedor : ${proveedores}">
                                <td th:text="${proveedor.idproveedor}"></td>
                                <td th:text="${proveedor.nombre}"></td>
                                <td th:text="${proveedor.correo}"></td>
                                <td th:text="${proveedor.ubicacion}"></td>
                                <td th:text="${proveedor.tel}"></td>
                                <td valign="middle">
                                    <div class="opc-tabla">
                                        <i class='bx bx-cog iconos abrirCerrarFormEdit' id="opc-form"
                                        th:onclick="cargarEdit([[${proveedor.idproveedor}]], [[${proveedor.nombre}]], [[${proveedor.correo}]], [[${proveedor.ubicacion}]], [[${proveedor.tel}]])"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- fORMULARIO EDITAR -->
    <div class="form-lateral" id="editarForm">
        <div class="form-gestion">
            <div class="contenedor-formulario" id="contenedor-formulario">
                <div class="row">
                    <div class="cerrar-form">
                        <i class='bx bx-x abrirCerrarFormEdit iconos'></i>
                    </div>
                </div>
                <div class="row titulo-form">
                    <h1><i class='bx bx-cog'></i>Editar proveedor</h1>
                </div>
                <form th:action="@{/editaProveedor}" th:object="${Proveedor}" method="post" class="needs-validation"
                    novalidate>
                    <div class="row">
                        <div class="col">
                            <input type="hidden" name="nombreProducto" id="idProducto" th:field="*{idproveedor}">
                            <div class="campo-form">
                                <label for="nombreProveedor">Nombre proveedor</label>
                                <input type="text" name="nombreProveedor" id="nombreProveedor" th:field="*{nombre}">
                            </div>
                            <div class="campo-form">
                                <label for="correoProveedor">Correo</label>
                                <input type="email" name="correoProveedor" id="correoProveedor" th:field="*{correo}">
                            </div>
                            <div class="campo-form">
                                <label for="ubicacionProveedor">Ubicacion</label>
                                <input type="text" name="ubicacionProveedor" id="ubicacionProveedor"
                                    th:field="*{ubicacion}">
                            </div>
                            <div class="campo-form">
                                <label for="telefonoProveedor">Telefono</label>
                                <input type="number" name="telefonoProveedor" id="telefonoProveedor" th:field="*{tel}">
                            </div>
                        </div>
                    </div>
                    <div class="row btn-formulario">
                        <input type="submit" value="Editar">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- MODAL AGREGAR PROVEEDOR -->
    <div class="contenedor-modal">
        <div class="modal" tabindex="-1" id="modalAgregar">
            <div class="modal-dialog proveedor">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="bx bx-x iconos btn-close" data-bs-dismiss="modal" aria-label="Close"
                            style="color:snow"></i>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form th:action="@{/agregarProveedor}" th:object="${Proveedor}" method="post"
                                class="needs-validation" novalidate>
                                <h2> <i class='bx bxs-truck'></i> Agregar proveedor</h2>
                                <div class="mb-3">
                                    <label class="form-label">Nombre*</label>
                                    <input type="text" class="form-control" placeholder="Nombre proveedor"
                                        th:field="*{nombre}" required>
                                    <div class="valid-feedback">
                                        ¡Bien! Datos correctos.
                                    </div>
                                    <div class="invalid-feedback">
                                        ¡Error! Verifica los datos.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="correoProveedor" class="form-label">Correo</label>
                                    <input type="email" class="form-control" placeholder="name@correo.com"
                                        th:field="*{correo}">
                                </div>
                                <div class="mb-3">
                                    <label for="ubicaciónProveedor" class="form-label">Ubicación</label>
                                    <input type="text" class="form-control" placeholder="Dirección del proveedor"
                                        th:field="*{ubicacion}">
                                </div>
                                <div class="mb-3">
                                    <label for="telefonoProveedor" class="form-label">Teléfono*</label>
                                    <input type="number" class="form-control" th:field="*{tel}" required>
                                    <div class="valid-feedback">
                                        ¡Bien! Datos correctos.
                                    </div>
                                    <div class="invalid-feedback">
                                        ¡Error! Verifica los datos.
                                    </div>
                                </div>
                                <div class="reg-siguiente">
                                    <button type="submit" class="btn">Guardar</button>
                                </div>
                            </form>


                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--ALERTAS Y NOTIFICACIONES-->
    <div th:if="${param.agregarTrue}">
        <script>
            const Toast3 = Swal.mixin({
                toast: true,
                position: 'bottom-start',
                showConfirmButton: false,
                timer: 5000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast3.fire({
                icon: 'success',
                title: 'Registro de proveedor exitoso'
            })
        </script>
    </div>
    <div th:if="${param.agregarFalse}">
        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: 'bottom-start',
                showConfirmButton: false,
                timer: 5000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: 'error',
                title: 'Error al agregar proveedor<br> verifique los datos.'
            })
        </script>
    </div>
    <div th:if="${param.actualizarTrue}">
        <script>
            const Toast4 = Swal.mixin({
                toast: true,
                position: 'bottom-start',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast4.fire({
                icon: 'success',
                title: 'Actualizacion exitosa.'
            })
        </script>
    </div>
    <div th:if="${param.actualizarFalse}">
        <script>
            const Toast2 = Swal.mixin({
                toast: true,
                position: 'bottom-start',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast2.fire({
                icon: 'error',
                title: 'Error al actualizar los datos del proveedor! <br> verifique los datos.'
            })
        </script>
    </div>
    
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


    <script src="../../JS/proveedorJS.js"></script>


</body>

</html>